<div *ngIf="boxer">
  <h2>{{boxer.name | uppercase}}</h2>
  <p>Record: {{boxer.record}}</p>
  <p>Weight: {{boxer.weight}}</p>
  <p>Country: {{boxer.country}}</p>
  <p>Ranking: {{boxer.ranking}}</p>

  <div>
    <label>Edit Name:
      <input [(ngModel)]="boxer.name" placeholder="Name">
    </label>
  </div>
  <div>
    <label>Edit Record:
      <input [(ngModel)]="boxer.record" placeholder="Record">
    </label>
  </div>
  <div>
    <label>Edit Weight:
      <select [(ngModel)]="boxer.weightClass">
        <option *ngFor="let weightClass of weightClasses" value="{{weightClass}}">
          {{weightClass}}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>Edit Country:
      <input [(ngModel)]="boxer.country" placeholder="Country">
    </label>
  </div>
  <div>
      <label>Edit Ranking:
        <input [(ngModel)]="boxer.ranking" placeholder="Ranking">
      </label>
    </div>

</div>