.homePageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.boxerStatsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cellHeading {
    font-weight: bold;
}